.wrapper-features {
  margin-top: 90px;
  text-align: center;
}

.wrapper-features p {
  font-size: 15px;
  font-weight: lighter;
}

.wrapper-features h2 {
  margin-bottom: 5px
}

.newsletter {
  padding: 100px;
}

.newsletter p {
  margin-top: 35px;
}

.wrapper-features img {
  width: 100px;
}
